<div class="webform-analysis-component component-type--{{ component_type }} webform-analysis-component-select webform-analysis-component--{{ name }}">
  <div class="webform-analysis-component-inner">
    <h3>{{ title }}</h3>
    {{ data }}
  </div>
</div>
